body {
    min-height: 100vh;
    position: relative;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.footer-padding {
	padding-bottom: 60px;
}
.contain {
    margin-bottom: 60px;
}
.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}
.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}
.footer p a {
    color: #fff;
}
.publish {
    margin-top: 10px;
}
.container .postBody {
    display: inline;
}